ion-input, ion-text {
    font-size: 0.9rem;
}
.error {
    font-size: 0.7rem !important;
}
p {
    ion-icon {
        font-size: 1.8rem;
        margin: 1vh 2vh;
    }
}
ion-button {
    margin: 5vh 0;
}