<ion-content [fullscreen]="true">

  <div align="center">
    <img src="assets/imgs/logo.png" />
  </div>

  <ion-list>
    <div class="ion-margin marginBottom" (ionChange)="segmentChanged($event)">
      <ion-segment mode="ios" [value]="segmentValue">
        <ion-segment-button value="1">
          <ion-label>Log In</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Sign Up</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <app-sign-in *ngIf="segmentValue == '1'"></app-sign-in>
    <app-sign-up *ngIf="segmentValue == '2'"></app-sign-up>

  </ion-list>

</ion-content>
